.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  border-top: 5px solid #4caf50;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.header .navbar {
  background-color: white;
  color: #4caf50;
  margin-bottom: 0;
}


/*
 * Tags cloud
 */
.header .navbar.tag-cloud {
  background-color: #4caf50;
  color: #fff;
  min-height: 0;
  padding: 5px;
}

.tag-cloud .container > div {
  padding: 2px;
  display: inline-block;
  cursor: pointer;
}

.tag {
  border-radius: 4px;
  padding: 2px 4px;
 }
.tag.selected {
  background-color: #8bc34a;
 }

/* ================= Content ==============*/

#content {
  background-color: #FFF;
  padding: 19px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  border: 0px none;
}

/*
 * Tiles block
 */
.tile-box > div {
  padding: 0;
}

.tile-box .tile {
  /* padding: 2px; */
  background-color: white;
  border: 1px solid #ccc;
  /* width: 99%; */
  margin: 8px;
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.12);
}

.tile:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.tile .head {
  background-color: #ccc;
  padding: 6px 10px;
}

.tile .msg {
  padding: 2px 10px;
}

.tile .content {
  padding: 5px 0;
}

.tile .content img.usr {
  float:left;
  margin: 5px;
}
.tile img.social{
  float: right;
  height: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 900px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
