<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
   http://www.springframework.org/schema/beans/spring-beans.xsd 
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/mvc 
   http://www.springframework.org/schema/mvc/spring-mvc.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/util 
   http://www.springframework.org/schema/util/spring-util.xsd
   http://www.springframework.org/schema/task 
   http://www.springframework.org/schema/task/spring-task.xsd">
 	  
 	  
 	  
  
  
   
   <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
   
 	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> 
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean> 
	
	<bean id="RecordDao" class="com.epam.edu.kh.business.dao.RecordDaoImpl"></bean> 
	<bean id="JsonScanner" class="com.epam.edu.kh.business.service.JsonScanner"></bean> 
	<bean id="RecordService" class="com.epam.edu.kh.business.service.RecordServiceImpl"></bean> 
 	
 	
   	<task:annotation-driven executor="executor" scheduler="scheduler"/>
	<task:executor id="executor" pool-size="5"/>
	<task:scheduler id="scheduler" pool-size="10"/>
 	
 	
	<!--
	<bean id="runScheduler" class="com.epam.edu.kh.business.service.ResourceChekingExecutor" />
	  <task:scheduled-tasks>
	    
		<task:scheduled ref="runScheduler" method="run" fixed-delay="5000" /> 
	    
		<task:scheduled ref="runScheduler" method="run" cron="*/5 * * * * *" />
	   </task:scheduled-tasks>
 
	</beans>
	-->
		
 	<!-- 
 		<task:annotation-driven executor="executor" scheduler="scheduler"/>
		<task:executor id="executor" pool-size="5"/>
		<task:scheduler id="scheduler" pool-size="10"/>
	-->
 	
	 <!--  <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
	    <property name="corePoolSize" value="5" />
	    <property name="maxPoolSize" value="10" />
	    <property name="queueCapacity" value="25" />
	</bean>

	<bean id="ResourceChekingExecutor" class="com.epam.edu.kh.business.service.ResourceChekingExecutor">
	    <constructor-arg ref="taskExecutor" />
	</bean> 
	 -->
</beans>
