<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"


	xsi:schemaLocation="http://www.springframework.org/schema/beans    
   http://www.springframework.org/schema/beans/spring-beans.xsd 
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/mvc 
   http://www.springframework.org/schema/mvc/spring-mvc.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/util 
   http://www.springframework.org/schema/util/spring-util.xsd
   http://www.springframework.org/schema/task 
   http://www.springframework.org/schema/task/spring-task.xsd
   http://www.springframework.org/schema/data/neo4j
   http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd">



	<!-- <neo4j:config storeDirectory="data/temp.db" base-package="com.epam.edu.kh.business.neo4j.entity" 
		/> <neo4j:repositories base-package="com.epam.edu.kh.business.neo4j.repository"></neo4j:repositories> 
		<neo4j:config storeDirectory="data/temp.db" base-package="com.epam.edu.kh.business.neo4j.entity" 
		/> -->
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>

	<bean id="RecordDao" class="com.epam.edu.kh.business.dao.record.RecordDaoImpl"></bean>
	<bean id="TagDao" class="com.epam.edu.kh.business.dao.tag.TagDaoImpl"></bean>

	<bean id="JsonScannerOfResponseVK"
		class="com.epam.edu.kh.business.scanner.JsonScannerOfResponseVK"></bean>
	<bean id="RecordService" class="com.epam.edu.kh.business.service.record.RecordServiceImpl"></bean>
	<bean id="TagService" class="com.epam.edu.kh.business.service.tag.TagServiceImpl"></bean>

	<task:annotation-driven executor="executor"
		scheduler="scheduler" />
	<task:executor id="executor" pool-size="5" />
	<task:scheduler id="scheduler" pool-size="10" />

</beans>
